/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

header {
    background-color: #f0f0f0;
    padding: 120px 20px;
    text-align: center;
}

section {
    display: flex;
    padding: 20px;
}

div {
    padding: 20px
}