/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px 20px;
    text-align: center;
}

section {
    display: flex;
    padding: 20px;
    justify-content: center;
}

section > div {
    width: 40%;
}

footer {
    background-color: #f0f0f0;
}

.profile {
    background-color: #ffffff;
}

.skills {
    background-color: #f0f0f0;
}

.hobbies {
    background-color: #ffffff;
}

img {
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
}

div {
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 20px 0px;
}

ul {
    padding: 0% 10%;
}

li {
    text-align: justify;
}

.subul {
    margin: 0px 30px;
}

